html{
        letter-spacing: 0.7px;
        line-height: 1.5rem;
        font-family: 'Lora', serif;
        font-size:24px;
}

@media only screen and (max-width: 1024px) and (min-width: 480px) {
        html{
                font-size: 16px;
        }
}

@media only screen and (max-width: 480px) {
        html{
                font-size: 8px;
        }
}

body{
        margin: 0;
}


/*Header*/
nav{
        background-color: rgba(5, 5, 106, 0.8);
        color: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 5.5rem;
        top: 0;
        z-index: 5;
        margin: 0;
}

@media only screen and (max-width: 1080px) {
        nav{
               height: 7.5rem;
        }
}

@media only screen and (min-width: 768px) {
        #extr1-nav{
                display: none;
        }
}

@media only screen and (max-width: 768px) {
        nav{
                display: none;
        }

        #extr1-nav{
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                position: fixed;
                top: 0;
                z-index: 3;
        }

        #mobile-navList{
                flex-direction: column;
                justify-content: center;
        }

        .material-symbols-outlined{
                font-size: 2rem;
        }

}

#nav-list{
        position: fixed;
        right: 8% ;
}

@media only screen and (max-width: 1310px) and (min-width: 1080px) {
        #nav-list{
                right: 0%;
        }
}

@media only screen and (max-width: 1080px) {
        #nav-list{
                flex-direction: column;
                right: 10%
        }
}

nav ul {
        display: flex;
        list-style: none;
        margin-right: 1rem;
}

nav ul li a{
        text-decoration: none;
        color: white;
}

#nav-list a:hover{
        text-decoration: underline;
        color: greenyellow;
}

nav ul li a:active {
        font-size: larger;
        font-weight: bolder;
}

nav ul li{
        margin: auto 1rem;
        text-decoration: none;
}

#logoSwitch{
        display: flex;
        flex-direction: row;
        position: fixed;
        left: 10%;
}

@media only screen and (max-width: 1310px) {
        #logoSwitch{
                left: 0%;
        }
}

#dark, #light, nav img{
        font-weight: 800;
        height: 3.5rem;
        width: 3.5rem;
        margin: auto 2rem;
        border-radius: 70%;
} 

#dark{
        background-color: black;
        color:white;
}

#light{
        background-color: white;
        color: black;
}

/*Main*/
/*About Me*/
#container-profile{
        margin-top: 5.5rem;
        background-image: url("./images/bluesky.jpg");
        background-position: left 50% top 50%;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
        opacity: 0.9;
        height: 24rem;
        background-size: cover;
}

@media only screen and (max-width: 1080px) {
        #container-profile{
                margin-top: 7.5rem;
        }
}

#profile h1{
        letter-spacing: 0.4rem;
        font-weight: 800;
        mix-blend-mode:difference;
}

.profileData{
        padding: 0.7rem;
        line-height: 1.5rem;
        left: 34%;
}

#extr1-profile{
        display: none;
}

@media only screen and (max-width: 1600px) and (min-width: 1389px) {
        .profileData{
                left: 20%;
        }
       
}

@media only screen and (max-width: 1389px) {
        .profileData{
                left: 10%;
        }
       
}

@media only screen and (max-width: 1080px) and (min-width: 1036px) {
        .profileData{
                left: 2%;
        }
       
}

@media only screen and (max-width: 1036px) {
        .profileData{
                display: none;
        }

        #extr1-profile{
                display:contents;
                text-align: center;
                color: black;
                mix-blend-mode: difference;
                line-height: 1.5;
                letter-spacing: 0.5rem;
        }
}

#profile-intro{
        position: absolute;
        border-left-style: dotted;
        border-left-width: 0.4rem;
        border-left-color:yellow;
        border-top-style: dotted;
        border-top-width: 0.4rem;
        border-top-color: lightgreen;
        padding-top: 0.4rem;
}

#profile-name{
        position: absolute;
        
}

#biruskai{
        position:absolute;
        font-size: 1rem;
}

#profile-profession{
        position: absolute;
        border-right-style: dotted;
        border-right-width: 0.4rem;
        border-right-color:lightgreen;
        border-bottom-style: dotted;
        border-bottom-width: 0.4rem;
        border-bottom-color: yellow;
}

#container-about-me{
        background-color: azure;
}

#about-me{
        margin-top: 0;
        padding-top: 2rem;
        text-align: center;
}

#about-me-text{
        text-align: justify;
        width: auto;
        padding: 2rem 14rem;
        margin: 0;
        font-size: 1.2rem;
        line-height: 2.0rem;
}

@media only screen and (max-width: 1389px) and (min-width: 768px) {
        #about-me-text{
                padding: 2rem 7rem;
        }
}

@media only screen and (max-width: 768px) {
        #about-me-text{
                padding: 2rem 2rem;
        }
}

/*Project*/
#container-projects{
        padding: 2rem;
        background-color:honeydew;
        color:
}

#projects{
        margin:0;
        padding: 2rem;
        text-align: center;
}

#container-project-item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
}

@media only screen and (max-width: 480px) {
        #container-project-item{
                flex-direction:column;
                align-items: center;
        }
}

.project-item{
        text-align: center;
        width: 23rem;
        border-style: solid;
        margin: 2rem;
}

.project-item:hover{
        background-color: rgba(210, 246, 68, 0.7);
        box-shadow: 60px -16px rgb(207, 93, 68);
}

.project-item img{
        height: auto;
        width: 23rem;
}

.project-item p{
        padding: 0 1rem;
        
}

/*Skills*/
#container-skills{
        color:white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/matrix.png);
}

#skills{
        text-align: center;
        padding: 2rem;
}

#containerGridSkills{
        display: inline-grid;
        grid-template-rows: auto; 
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
}

@media only screen and (max-width: 1080px) and (min-width: 480px) {
        #containerGridSkills{
                grid-template-columns: repeat(2, 1fr);
        }
}

@media only screen and (max-width: 480px) {
        #containerGridSkills{
                grid-template-columns: auto;
        }
}

#a,#b,#c,#d,#e {
        width: 10rem;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;       
        font-weight: bolder;
}

.skills-item img{
        width: auto;
}

/*Contact*/
#container-contact{
        margin: 0 1rem;
        padding: 2rem 25rem;
}

@media only screen and (max-width: 1970px) and (min-width: 1600px) {
        #container-contact{
                padding: 2rem 15rem;
        }
}

@media only screen and (max-width: 1600px) and (min-width: 1389px) {
        #container-contact{
                padding: 2rem 8rem;
        }
}

@media only screen and (max-width: 1389px) {
        #container-contact{
                padding: 2rem 5rem;
        }
}

#contact-container1{
        text-align: center;
}

#contact{
        margin: 0;
        padding: 2rem;
}

#contact-container2{
        line-height: 3;
}

#contact-fullname{
        padding: 0 1rem;
}

.contactData{
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items:stretch ;
}

#name{
        width:-webkit-fill-available;
}

#contact-email-etc{
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
}

@media only screen and (max-width: 972px) {
        #contact-email-etc{
                grid: auto/auto;
        }
}

#contact-checkbox{
        border: none;
}

#message{
        display: flex;
        flex-direction: column;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
}

#name, #email, #phone, #country{
        padding: 0.5rem;
        border-radius: 10px;
}

@media only screen and (max-width: 972px) {
        #name, #email, #phone, #country{
                border-radius: 1px;
        }
}

#contact-submit{
        padding: 0.8rem 1rem;
        margin: 0.5rem;
        margin-left: 1.2rem;
        background-color: rgb(98, 214, 39);
        color: white;
        border-style: none;
        font-size: 1.2rem;
}

#contact-submit:hover{
        cursor: pointer;
        font-size: larger;
}

/*Footer*/


@media only screen and (min-width: 976px) {
        #extr1-containerFooter{
                display: none;
        }

        #containerFooter{
                background-color: black;
                width: 100%;
                height: 6rem;
                margin:0;
                color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
        }
}

@media only screen and (max-width: 976px) {
        #containerFooter{
                display: none;
        }

        #extr1-containerFooter{
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 100%;
                align-items: center;
                background-color: black;
                color: white;
        }
}

#copyright{
        position: absolute;
        left: 10%;
}

#socialmedia{
        display: flex;
        position: absolute;
        align-items: center;
        margin-left: 3rem;
        left: 44%;
}

footer img{
        height: 3rem;
        width: 3rem;
        border-radius: 70%;
        padding: 0 0.6rem;
}

#follow{
        margin: 0 1rem;
}